<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searching for "<%= query %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Showing search results for "<%=query%></h1>
    <form action="/search" method="GET">
        <input type="text" name="q" placeholder="Search.." required>
        <button type="submit">Search</button>
      </form>  
    <ul>
        <% articles.forEach(article => { %>
            <li>
                <h2><a href="<%= article.url %>" target="_blank"><%= article.title %></a></h2>
                <p><%= article.description %></p>
                <small><%= article.source.name %> | <%= article.publishedAt %></small>
            </li>
        <% }); %>
    </ul>

    <a href="/">Go back to top headlines</a>
</body>
</html>